.DS_Store
*.log
*.zip
/build
/vendor
/node_modules

# Directories used in the dist/deploy process.
/dist
/syntax-highlighting-code-block

# Generated via bin/transform-readme.php
/readme.txt

# In case the GitHub Wiki repo is cloned.
/wiki

# IDE files
.idea
.vscode
