.DS_Store
.vscode/
/node_modules/*
!/node_modules/htm
/node_modules/htm/*
!/node_modules/htm/dist
/node_modules/htm/dist/*
!node_modules/htm/dist/htm.js
*.log
*.zip
/vendor/*
!/vendor/scrivo
/vendor/scrivo/highlight.php/*

!/vendor/scrivo/highlight.php/Highlight/
/vendor/scrivo/highlight.php/Highlight/languages/*.json
!/vendor/scrivo/highlight.php/Highlight/languages/bash.json
!/vendor/scrivo/highlight.php/Highlight/languages/cpp.json
!/vendor/scrivo/highlight.php/Highlight/languages/css.json
!/vendor/scrivo/highlight.php/Highlight/languages/diff.json
!/vendor/scrivo/highlight.php/Highlight/languages/go.json
!/vendor/scrivo/highlight.php/Highlight/languages/javascript.json
!/vendor/scrivo/highlight.php/Highlight/languages/json.json
!/vendor/scrivo/highlight.php/Highlight/languages/markdown.json
!/vendor/scrivo/highlight.php/Highlight/languages/php.json
!/vendor/scrivo/highlight.php/Highlight/languages/python.json
!/vendor/scrivo/highlight.php/Highlight/languages/sql.json
!/vendor/scrivo/highlight.php/Highlight/languages/xml.json

!/vendor/scrivo/highlight.php/styles/
/vendor/scrivo/highlight.php/styles/*
!/vendor/scrivo/highlight.php/styles/default.css
