.DS_Store
*.log
*.zip
/build
/vendor
/node_modules
/dist

# Generated via bin/transform-readme.php
/readme.txt

# Ignore symlinked directories for wp-env
/wp-core
/wp-tests-phpunit

# In case the GitHub Wiki repo is cloned.
/wiki
