.wp-block-code textarea {
	background: transparent;
}

.code-block-bg {
	left: 0;
	position: absolute;
	top: .8em;
	width: 100%;
	z-index: -1;
}

.code-block-bg .loc {
	display: block;
	height: 1.65em;
}

.code-block-bg .loc.highlighted {
	background: rgba(86, 213, 255, 0.2);
}
