.shcb-textedit.shcb-textedit-wrap-lines {
	overflow: auto !important;
}

/* Gutenberg 7.8 and below uses a `<textarea>` element */
textarea.shcb-textedit {
	white-space: pre !important;
	overflow-x: auto !important;
}

textarea.shcb-textedit.shcb-textedit-wrap-lines {
	white-space: pre-wrap !important;
}

/* Gutenberg 7.9+ uses a `<code>` element */
code.shcb-textedit {
	white-space: pre !important;
	overflow-x: auto !important;
}

code.shcb-textedit.shcb-textedit-wrap-lines {
	white-space: pre-wrap !important;
}

/* Gutenberg 9.2+ uses a contenteditable div */
.shcb-textedit.rich-text {
	white-space: pre !important;
	overflow-x: auto !important;
}

.shcb-textedit.rich-text.shcb-textedit-wrap-lines {
	white-space: pre-wrap !important;
}

.code-block-overlay {
	height: 100%;
	left: 0;
	padding: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	white-space: pre;
	width: 100%;
	z-index: 10;
}

.shcb-textedit-wrap-lines + .code-block-overlay {
	white-space: pre-wrap;
}

.code-block-overlay .loc {
	color: transparent;
	display: block;
	line-height: inherit;
}

.code-block-overlay .loc.highlighted {
	background: rgba(86, 213, 255, 0.2);
}
