.shcb-plain-text.shcb-plain-text-wrap-lines {
	overflow: auto !important;
}

/* Gutenberg 7.9+ uses a `<code>` element */
code.shcb-plain-text.shcb-plain-text-wrap-lines {
	white-space: pre !important;
}

/* Gutenberg 7.8 and below uses a `<textarea>` element */
textarea.shcb-plain-text.shcb-plain-text-wrap-lines {
	white-space: nowrap;
}

.code-block-overlay {
	height: 100%;
	left: 0;
	padding: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	white-space: pre-wrap;
	width: 100%;
	z-index: 10;
}

.code-block-overlay .loc {
	color: transparent;
	display: block;
	line-height: inherit;
}

.code-block-overlay .loc.highlighted {
	background: rgba(86, 213, 255, 0.2);
}
