.hljs.line-numbers {
	border-spacing: 0.75em 0;
	counter-reset: line;
	display: table;
}

.hljs.line-numbers .loc {
	counter-increment: line;
	display: table-row;
	width: 100%;
}

.hljs.line-numbers .loc::before {
	border-right: 1px solid #ddd;
	content: counter(line);
	display: table-cell;
	padding-right: 0.75em;
	text-align: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 1%;
}
