<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Syntax-highlighting Code Block">
	<config name="text_domain" value="syntax-highlighting-code-block"/>
	<config name="minimum_wp_version" value="6.6"/>

	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress-Core">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" />
	</rule>
	<rule ref="WordPress-Docs">
		<!--
		Excluded since don't yet support multi-line PhpDoc: https://github.com/squizlabs/PHP_CodeSniffer/issues/2591
		Nevertheless, they are redundant with PHPStan anyway.
		-->
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamName" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamTag" />
	</rule>
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress.WP.I18n"/>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<file>syntax-highlighting-code-block.php</file>
	<file>uninstall.php</file>
	<file>inc/</file>

	<!-- Check up to 20 files simultaneously. -->
	<arg name="parallel" value="20"/>

	<rule ref="Generic.Arrays.DisallowLongArraySyntax.Found" />

	<!-- Exclude node_modules and vendor directories. -->
	<exclude-pattern>./node_modules/*</exclude-pattern>
	<exclude-pattern>./vendor/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/bin/*</exclude-pattern>
	<exclude-pattern>*/tools/*</exclude-pattern>
	<exclude-pattern>phpstan-baseline.php</exclude-pattern>
</ruleset>
